/STD/Common/STD_Libs/bin
/STD/Common/STD_Libs/obj
/STD/Common/PN-Libraries/SAPCore/.vs
/STD/STD/obj
/STD/STD/.vs
/STD/STD/bin
/STD/STUserDefine/obj
STD/.vs/ST_Addon/v16/.suo
STD/.vs/ST_Addon/v17
STD/.vs
STD/Common/PN-Libraries/DLLs/4.6/PN.SmartLib.dll
STD/Common/PN-Libraries/DLLs/4.6/SAPCore.dll
/STD/.vs/ST_Addon/FileContentIndex/24041bdf-472b-4334-9aaa-def75de696cf.vsidx
/STD/.vs/ST_Addon/FileContentIndex/56627a36-fae1-4ba3-b562-0e7fbe4169a2.vsidx
/STD/.vs/ST_Addon/FileContentIndex/7060a49b-d987-42a4-aced-330cba072edf.vsidx
/STD/.vs/ST_Addon/FileContentIndex/f03516f5-5741-4b61-bd4f-35a94f589dc4.vsidx
/STD/.vs/ST_Addon/FileContentIndex/fee6faae-a941-4d77-a40c-18fc1c0bd497.vsidx
/STD/.vs/ST_Addon/v15/.suo
/STD/.vs/ST_Addon/v15/Server/sqlite3/db.lock
/STD/.vs/ST_Addon/v15/Server/sqlite3/storage.ide
/STD/.vs/ST_Addon/v15/Server/sqlite3/storage.ide-shm
/STD/.vs/ST_Addon/v15/Server/sqlite3/storage.ide-wal
/STD/Common/PN-Libraries/DLLs/4.6/PN.SmartLib.dll.BASE.dll
/STD/Common/PN-Libraries/DLLs/4.6/PN.SmartLib.dll.LOCAL.dll
/STD/Common/PN-Libraries/DLLs/4.6/PN.SmartLib.dll.REMOTE.dll
/STD/Common/STD_Libs/.vs/STDLibs.csproj.dtbcache.json
/STD/Common/PN-Libraries/DLLs
/Service/Common/PN-Libraries/PN.Libs/.vs
/Service/Common/PN-Libraries/PN.Libs/bin
/Service/Common/PN-Libraries/PN.Libs/obj
/Service/Common/PN-Libraries/SAPCore/obj
/Service/Common/PN-Libraries/SAPCore/.vs
/Service/Common/PN-Libraries/SAPCore/bin
/Service/ERPService/obj
/Service/ERPService/.vs
/Service/ERPService/bin
/Service/.vs
/Service/packages
/.vs
