/STD/Common/STD_Libs/bin
/STD/Common/STD_Libs/obj
/STD/Common/PN-Libraries/SAPCore/.vs
/STD/STD/obj
/STD/STD/.vs
/STD/STD/bin
/STD/STUserDefine/obj
STD/.vs/ST_Addon/v16/.suo
STD/Common/PN-Libraries/DLLs/4.6/PN.SmartLib.dll
STD/Common/PN-Libraries/DLLs/4.6/SAPCore.dll
