<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <!-- -->
    <add name="SAPHanaConnection" connectionString="Server=192.168.1.200:30015;UserID=system;Password={0};"/>
    <add name="SAPConnection" connectionString="Data Source=HCM-LT336\GTVPaulNguyen;Initial Catalog=SBODemo;User ID=sa; Password={0};"/>

    <!---->
  </connectionStrings>
  <appSettings>
    <add key="HASHSql" value="nnolF6cXZhXmOlrl1DES7Q=="/>
    <add key="HASHHana" value="j47nmazLcHptPsxQ6bWF5Q=="/>
    <add key="SystemType" value="SAP_HANA"/>
    <!--SAP_HANA or SAP_SQL_2019-->
    <add key="Schema" value="TEST01_WOODSLAND"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
