<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <add key="SystemType" value="SAP_SQL_2019" />
	  <!--<add key="SystemType" value="SAP_HANA"/>-->
	  <add key="HASHSql" value="9i+rFQcelZKpJ5Ex3uy5sQ==" />
	  <add key="HASHHana" value="j47nmazLcHptPsxQ6bWF5Q==" />
	  
	  <add key="ApiVietinBank" value="https://api-uat.vietinbank.vn/vtb-api-uat/development/erp/v1/statement/" />
	  <add key="BaseAPIUrl" value="https://api-uat.vietinbank.vn/vtb-api-uat/development/erp/v1/" />
	  <add key="UrlApiInquiry" value="https://api-uat.vietinbank.vn/vtb-api-uat/development/erp/v1/statement/inquiry" />
	  <add key="ClientID" value="fbbf1989a3ad0de68446317f5f104df0" />
	  <add key="LinkAPI" value="https://api-uat.vietinbank.vn" />
	  <add key="ClientSecret" value="2cd7b943f4d7c5115d44b81487497ae3" />
	  <add key="Account" value="108004261279" />
	  <add key="Taikhoan" value="112000002609" />
	  <add key="CIF" value="400156156" />
	  <add key="USERTD" value="pymepharco_taodien" />
	  <add key="USERPD" value="pymepharco_pheduyet" />
	  <add key="ProviderId" value="PYMEPHARCO" />
	  <add key="MerchantId" value="" />
	  <add key="Access_Token" value="" />

	  <add key="timeRun1" value="12:15" />
	  <add key="timeRun2" value="17:15" />
	  <add key="isDebugMode" value="true" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SAPConnection" connectionString="Data Source=HCM-LT336\GTVPaulNguyen;Initial Catalog=Suntex_TestScenario;User ID=sa; Password={0};" />
    -->
	  <add name="SAPHanaConnection" connectionString="Server=172.31.126.11:30015;UserID=system;Password={0};" />

	  <!--<add name="SAPConnection" connectionString="Data Source = WIN-D2I5N06H905;Initial Catalog = Suntex_TestScenario; Persist Security Info = True; User ID = sa; Password = {0};" />-->
	  <add name="SAPConnection" connectionString="Data Source = DESKTOP-KAQMBES\SQLEXPRESS;Initial Catalog = testingdb" />
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>